<header class="header">
  <div class="header-navigation">
    <app-logo class="header-navigation-logo"></app-logo>
    <nav>
      <ul class="header-navigation-nav-list">
        <a
          routerLink="/about"
          routerLinkActive="scale-125"
          class="first text-medium-normal text-oscure-800"
          ><li>Sobre Wilmion</li></a
        >
        <a
          routerLink="/portfolio"
          routerLinkActive="scale-125"
          class="text-medium-normal text-oscure-800"
          ><li>Portafolio</li></a
        >
        <a
          routerLink="/contact-me"
          routerLinkActive="scale-125"
          class="text-medium-normal text-oscure-800"
          ><li>Contáctame</li></a
        >
        <a
          routerLink="/blog"
          routerLinkActive="scale-125"
          class="text-medium-normal text-oscure-800"
          ><li>Blog</li></a
        >
      </ul>
    </nav>
    <div class="header-navigation-toogle-mode">
      <app-icon icon="BSSUN" class="w-6 h-6 text-oscure-800"></app-icon>
      <app-checkbox-toogle
        (changedState)="toogleDropdown()"
        [active]="darkMode"
      ></app-checkbox-toogle>
      <app-icon
        icon="MDOUTLINEDARKMODE"
        color="#171208"
        class="w-6 h-6 text-oscure-800"
      ></app-icon>
    </div>
    <div class="header-navigation-icon-menu" (click)="onOpenMenu()">
      <app-icon icon="RIMENU5LINE" color="#171208" class="w-6 h-6"></app-icon>
    </div>
  </div>
  <div class="header-current-page" *ngIf="currentPage">
    <div class="header-current-page-option">
      <h1 class="text-oscure-800 text-bold-extra-normal md:text-h2">
        {{ currentPage }}
      </h1>
    </div>
  </div>
</header>
<app-navigation-mobile
  [open]="openMenu"
  (close)="onClose()"
></app-navigation-mobile>
