<header class="header">
  <div class="header-navigation">
    <app-logo class="header-navigation-logo"></app-logo>
    <nav>
      <ul class="header-navigation-nav-list">
        <a routerLink="/about" class="first text-medium-normal text-oscure-800"
          ><li>Sobre Wilmion</li></a
        >
        <a routerLink="/portfolio" class="text-medium-normal text-oscure-800"
          ><li>Portafolio</li></a
        >
        <a routerLink="/contact-me" class="text-medium-normal text-oscure-800"
          ><li>Contáctame</li></a
        >
        <a routerLink="/blog" class="text-medium-normal text-oscure-800"
          ><li>Blog</li></a
        >
      </ul>
    </nav>
    <div class="header-navigation-toogle-mode">
      <app-icon icon="BSSUN" color="#171208" class="w-6 h-6"></app-icon>
      <app-checkbox-toogle></app-checkbox-toogle>
      <app-icon
        icon="MDOUTLINEDARKMODE"
        color="#171208"
        class="w-6 h-6"
      ></app-icon>
    </div>
    <div class="header-navigation-icon-menu">
      <app-icon icon="RIMENU5LINE" color="#171208"></app-icon>
    </div>
  </div>
  <div class="header-current-page" *ngIf="currentPage">
    <div class="header-current-page-option">
      <h1 class="text-oscure-800 text-bold-extra-normal md:text-h2">
        {{ currentPage }}
      </h1>
    </div>
  </div>
</header>
