<section class="about-me">
  <h2 class="about-me__title text-h1">
    ¡Ponte cómodo! Te contaré un poco de mí
  </h2>
  <p class="about-me__paragraph">
    ¡Hola! Mi nombre es Wilbert Navarrete aunque soy más conocido en las redes
    sociales como Wilmion, puedes llamarme como tú quieras 😅
  </p>
  <p class="about-me__paragraph">
    Yo nací a principios del 2000, en Lima - Perú. Actualmente soy un apasionado
    de las nuevas tecnologías y las que están por venir.
  </p>
  <p class="about-me__paragraph">
    En 2016, cuando cerro el juego
    <a
      href="https://galaxylife-espanol.fandom.com/wiki/Galaxy_Life_Real_Wiki"
      target="_blank"
      rel="noopener noreferrer"
      >Galaxy life</a
    >
    me sentí muy apenado por la salida del juego, entonces, como no quería que
    el juego muriera mi deseo era hacer un remake del juego, desde ese entonces
    conocí el motor gráfico
    <a
      href="https://en.wikipedia.org/wiki/Construct_(game_engine)"
      target="_blank"
      rel="noopener noreferrer"
      >Construct 2</a
    >
    y ese fue primer acercamiento a la industria de la tecnología.
  </p>
  <p class="about-me__paragraph">
    En 2019, después de estudiar tanto en el motor de videojuegos de
    <a
      href="https://en.wikipedia.org/wiki/Construct_(game_engine)"
      target="_blank"
      rel="noopener noreferrer"
      >Construct 2</a
    >. Expuse el remake de
    <a
      href="https://galaxylife-espanol.fandom.com/wiki/Galaxy_Life_Real_Wiki"
      target="_blank"
      rel="noopener noreferrer"
      >Galaxy life</a
    >
    en la cual gane un poco de popularidad. Pero al final
    <a
      href="https://es.wikipedia.org/wiki/Ubisoft"
      target="_blank"
      rel="noopener noreferrer"
      >Ubisoft</a
    >
    no fue quien me cerró el juego, fue un grupo de personas que también
    trabajaron arduamente en volver ese juego a la vida y eso poco a poco mato
    mi remake.
  </p>
  <p class="about-me__paragraph">
    En 2020, después del fracaso que fue el remake de
    <a
      href="https://galaxylife-espanol.fandom.com/wiki/Galaxy_Life_Real_Wiki"
      target="_blank"
      rel="noopener noreferrer"
      >Galaxy life</a
    >, a inicios de noviembre en busca de saber más sobre la industria de los
    videojuegos conocí la plataforma
    <a
      href="https://es.wikipedia.org/wiki/Platzi"
      target="_blank"
      rel="noopener noreferrer"
      >Platzi</a
    >, en la cual después de unos 10 días me decidí comprar su suscripción, una
    decisión que cambio la vida al Wilmion.
  </p>
  <p class="about-me__paragraph">
    En diciembre del 2020, Después de un poco pensar, aunque compre la
    suscripción para estudiar videojuegos por alguna extraña razón que no
    recuerdo empece a estudiar desarrollo web.
  </p>
  <p class="about-me__paragraph">
    En 2021, después de haber aprobado la
    <a
      href="https://platzi.com/web/?gclid=Cj0KCQiA6NOPBhCPARIsAHAy2zAOur7RF_y9VI-SacymqIqHiUg_dHWwKnp9B-JGFVxsqFXgn1LRJs0aAi4yEALw_wcB&gclsrc=aw.ds"
      target="_blank"
      rel="noopener noreferrer"
      >escuela de dessarrollo web</a
    >, en una búsqueda de 2 meses de trabajo ingreso a trabajar a la empresa
    <strong>MTD Company</strong>
    hasta el día de hoy.
  </p>
  <h3 class="about-me__subtitle">Un poco más de mi persona</h3>
  <p class="about-me__paragraph">
    En lo personal, a mí me gusta jugar futbol y practicar natación de vez en
    cuando. Mi mayor hobby y trabajo a la vez, es programar y pensar en
    soluciones.
  </p>
</section>
