<section class="dashboard">
  <div class="admin-box dashboard__job">
    <div class="dashboard__job__header">
      <h2 class="dashboard__job__header__title">Current Job</h2>
      <a routerLink="manage/jobs" class="dashboard__job__header__link"
        >Manage jobs</a
      >
    </div>
    <ng-container *ngFor="let job of $jobs | async">
      <app-jobs-card-manage
        *ngIf="job.to === 'Currently'"
        class="w-full"
        [job]="job"
      ></app-jobs-card-manage>
    </ng-container>
  </div>
  <div class="dashboard__stats">
    <div
      class="admin-box dashboard__stats__box"
      *ngFor="let graphic of $graphics | async"
    >
      <h3 class="dashboard__stats__box__title">
        {{ intercambiateVerbs(graphic.title) }}
      </h3>
      <app-stat
        class="w-full"
        [Obj]="graphic.raw"
        [title]="graphic.title"
      ></app-stat>
    </div>
  </div>
</section>
