<article
  class="personal-project"
  (mouseenter)="onHover($event)"
  (mouseleave)="onHover($event)"
  *ngIf="project"
  [ngStyle]="{ background: url }"
>
  <h4
    class="personal-project__title"
    [class.opacity-0]="!hovering"
    [class.opacity-100]="hovering"
  >
    {{ project.name }}
  </h4>
  <div
    class="personal-project__button"
    [class.opacity-0]="!hovering"
    [class.opacity-100]="hovering"
  >
    <app-button
      type="button-primary"
      content="Ver detalles"
      (click)="onClickViewDetails()"
    ></app-button>
  </div>
</article>
