<app-modal
  *ngIf="currentProjectView && skills$"
  [open]="openModal"
  (onCloseModal)="setValueInModal(false)"
  [title]="currentProjectView.name"
>
  <section class="portfolio-page__modal">
    <p class="portfolio-page__modal__text">
      {{ currentProjectView.description }}
    </p>
    <div class="portfolio-page__modal__project">
      <app-project-modal
        [url]="currentProjectView.image"
        [githubUrl]="currentProjectView.link_repository"
        [blogUrl]="currentProjectView.link_blog"
      ></app-project-modal>
    </div>

    <div class="portfolio-page__modal__buttons">
      <app-button
        class="portfolio-page__modal__buttons__container"
        *ngFor="let verbButton of buttonsSkillCurrentProject"
        [content]="verbButton.verb"
        [color]="verbButton.skill.backgroundColor"
        [insertedSvg]="verbButton.skill.icon"
        [colorText]="verbButton.skill.iconColor"
        [notSetPosition]="true"
      ></app-button>
      <app-button
        class="portfolio-page__modal__buttons__container"
        *ngIf="currentProjectView.link_blog"
        content="¿Cómo lo hice?"
        type="button-primary"
        [notSetPosition]="true"
      ></app-button>
    </div>
    <h4 class="portfolio-page__modal__title">TECNOLOGÍAS UTILIZADAS</h4>
    <div class="portfolio-page__modal__technologies">
      <div
        class="portfolio-page__modal__technologies__container"
        *ngFor="let data of currentProjectView.skills"
      >
        <app-skill
          [icon]="getSkillFromName(skills$ | async, data).icon"
          [colorBackground]="
            getSkillFromName(skills$ | async, data).backgroundColor
          "
          [colorItems]="getSkillFromName(skills$ | async, data).iconColor"
          [text]="getSkillFromName(skills$ | async, data).name"
        ></app-skill>
      </div>
    </div>
  </section>
</app-modal>

<section class="portfolio-page">
  <div class="portfolio-page__text">
    <p class="portfolio-page__text__paragraph">
      ¡Hola! Bienvenido a mi portafolio. En mi trayectoria siempre he realizado
      proyectos que demuestren mi aprendizaje.
    </p>
    <h3 class="portfolio-page__text__subtitle">¿Qué encontrarás acá?</h3>
    <p class="portfolio-page__text__paragraph">
      En esta sección encontraras un poco de mi experiencia en empresas y a
      nivel personal. Recuerda si quieres ver más a profundidad, lo mejor seria
      pasarse por mi
      <a
        href="https://www.linkedin.com/in/wilbert-navarrete-61a304194/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn</a
      >
      👀👀
    </p>
  </div>

  <h3 class="portfolio-page__subtitle text-primary">EXPERIENCIA</h3>
  <!--Some elements-->
  <section class="portfolio-page__jobs">
    <div class="portfolio-page__jobs__container">
      <app-job-card
        *ngFor="let job of jobs$ | async"
        [job]="job.role"
        [time]="[job.from, job.to]"
        [description]="job.description"
        [listsFunction]="[
          job.function_1,
          job.function_2,
          job.function_3,
          job.function_4
        ]"
        [linkedInUrl]="job.linkedIn_url"
      ></app-job-card>
    </div>
  </section>

  <h3 class="portfolio-page__subtitle text-primary">PROYECTOS PERSONALES</h3>

  <section class="portfolio-page__projects-container">
    <app-project
      *ngFor="let project of projects$ | async"
      [urlImage]="project.image"
      [nameOfProject]="project.name"
      (OpenModal)="onViewDetails(project)"
    ></app-project>
  </section>

  <h3 class="portfolio-page__subtitle text-primary">MIS HABILIDADES</h3>
  <section class="portfolio-page__skill-container">
    <div
      class="portfolio-page__skill-container__container"
      *ngFor="let data of skills$ | async"
    >
      <app-skill
        class="w-full"
        [icon]="data.icon"
        [colorBackground]="data.backgroundColor"
        [colorItems]="data.iconColor"
        [text]="data.name"
      ></app-skill>
    </div>
  </section>
</section>
