<div class="input" [formGroup]="formGroup" *ngIf="formGroup">
  <label [for]="idInput" class="input__label">{{ label }}</label>
  <div class="input__container">
    <input
      [type]="type"
      [name]="idInput"
      [id]="idInput"
      class="input__container__input"
      [placeholder]="placeholder"
      [formControlName]="idInput"
    />
    <div class="input__container__icon" *ngIf="withIcon && icon">
      <app-icon width="18px" height="18px" [icon]="icon"></app-icon>
    </div>
  </div>
</div>
