<article class="biography-resume mb-6">
  <app-image
    [width]="150"
    [height]="150"
    alt="Profile image of wilmion"
    [rounded]="true"
    url="assets/images/Foto.jpg"
  ></app-image>
  <div class="biography-resume__content">
    <p class="biography-resume__content__text text-medium-extra-normal">
      Wilmion es una persona apasionada en la tecnología. Desde niño siempre le
      encantaba jugar, hasta que descubiro el mundo del dessarollo de
      <a
        href="https://es.wikipedia.org/wiki/Videojuego"
        target="_blank"
        class="text-link"
      >
        videojuegos</a
      >. Es en donde aprendio su primer
      <a
        href="https://es.wikipedia.org/wiki/Lenguaje_de_programaci%C3%B3n"
        target="_blank"
        class="text-link"
        >lenguaje de programacion</a
      >...
    </p>
    <a routerLink="/about">
      <app-button
        type="button-terciary"
        content="Continuar leyendo"
      ></app-button>
    </a>
  </div>
</article>
