<nav
  class="navigation-mobile"
  [class.translate-x-0]="open"
  [class.-translate-x-full]="!open"
>
  <div class="navigation-mobile__close">
    <div (click)="onClose()">
      <app-icon
        icon="AIOUTLINECLOSE"
        class="w-4.5 h-4.5 text-danger"
      ></app-icon>
    </div>
  </div>
  <app-logo class="w-full text-center" colorClass="text-oscure-800"></app-logo>
  <div class="navigation-mobile__toogle-mode">
    <app-icon icon="BSSUN" color="#171208" class="w-6 h-6"></app-icon>
    <app-checkbox-toogle
      (changedState)="toogleDropdown()"
      [active]="darkMode"
      [enabled]="false"
    ></app-checkbox-toogle>
    <app-icon
      icon="MDOUTLINEDARKMODE"
      color="#171208"
      class="w-6 h-6"
    ></app-icon>
  </div>
  <ul class="navigation-mobile__list">
    <li
      class="text-medium-normal text-oscure-800"
      routerLinkActive="translate-x-3"
    >
      <a (click)="onClose()" routerLink="/about">Sobre Wilmion</a>
    </li>
    <li
      class="text-medium-normal text-oscure-800"
      routerLinkActive="translate-x-3"
    >
      <a (click)="onClose()" routerLink="/portfolio">Portafolio</a>
    </li>
    <li
      class="text-medium-normal text-oscure-800"
      routerLinkActive="translate-x-3"
    >
      <a (click)="onClose()" routerLink="/contact-me">Contáctame</a>
    </li>
    <li
      class="text-medium-normal text-oscure-800"
      routerLinkActive="translate-x-3"
    >
      <a (click)="onClose()" routerLink="/blog">Blog</a>
    </li>
  </ul>
</nav>

<div
  class="navigation-mobile--background"
  [class.opacity-0]="!open"
  [class.-z-40]="!open"
  [class.opacity-25]="open"
  [class.z-40]="open"
></div>
