@import url("../../../core/styles/texts.scss");

.login {
  &__container {
    @apply w-full;
    @apply flex;
    @apply flex-col;
    @apply space-y-6;
    &__error {
      @apply text-red-600;
      @apply text-regular-normal;
      @apply text-center;
    }
  }
}

.loader {
  @apply absolute;
  @apply w-full;
  @apply h-screen;
  @apply bg-black;
  @apply bg-opacity-25;
  @apply top-0;
  @apply left-0;
}

/* This component have to use another part of code in? */
.spinner {
  width: 100px;
  height: 100px;

  position: relative;
  margin: 20% auto;
}

.double-bounce1,
.double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  @apply bg-oscure-800;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2s infinite ease-in-out;
  animation: sk-bounce 2s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-webkit-keyframes sk-bounce {
  0%,
  100% {
    -webkit-transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bounce {
  0%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
