<section class="contact" *ngIf="staticPage && staticPage.contactEmail">
  <p class="contact__paragraph">
    {{ staticPage.introduction }}
  </p>
  <h2 class="contact__subtitle">¿Por qué trabajar conmigo?</h2>
  <p class="contact__paragraph">
    Como
    <a
      href="https://es.wikipedia.org/wiki/Desarrollo_web_Front-end"
      target="_blank"
      rel="noopener noreferrer"
      >Frontend Developer</a
    >
    desde el primer día garantizo la calidad de código de tus proyectos, aparte,
    complemento el diseño con la maquetación de la página web debido a que
    también soy
    <a
      href="https://en.wikipedia.org/wiki/User_interface_design"
      target="_blank"
      rel="noopener noreferrer"
      >UI designer</a
    >
    . A nivel personal soy una persona amigable en la cual seguro sacare unas
    sonrisas a la cultura de tu empresa/compañía.
  </p>
  <h2 class="contact__subtitle--principal">CONTACTARME</h2>
  <div class="contact__content-contact">
    <div class="contact__content-contact__form">
      <app-form-box [email]="staticPage.contactEmail"></app-form-box>
    </div>
    <div class="contact__content-contact__social-media">
      <h5 class="contact__content-contact__social-media__subtitle">
        Mis redes sociales
      </h5>
      <p class="contact__content-contact__social-media__paragraph">
        También puedes contactarme por mis redes sociales. 💻
      </p>
      <div class="contact__content-contact__social-media__icons">
        <a
          *ngFor="let socialMedia of socialMedia$ | async"
          [href]="socialMedia.redirectUrl"
          target="_blank"
          rel="noopener noreferrer"
        >
          <app-icon
            icon="AIOUTLINEYOUTUBE"
            [insertedSvg]="socialMedia.icon"
            color="#171208"
            class="w-6 h-6 transition duration-500 ease-in-out hover:scale-125"
          ></app-icon>
        </a>
      </div>
    </div>
  </div>
</section>
