<section class="contact" *ngIf="staticPage && staticPage.contact_email">
  <p class="contact__paragraph">
    {{ staticPage.introduction }}
  </p>
  <h2 class="contact__subtitle">¿Por qué trabajar conmigo?</h2>
  <p class="contact__paragraph">
    {{ staticPage.response_question }}
  </p>
  <h2 class="contact__subtitle--principal">CONTACTARME</h2>
  <div class="contact__content-contact">
    <div class="contact__content-contact__form">
      <app-form-box [email]="staticPage.contact_email"></app-form-box>
    </div>
    <div class="contact__content-contact__social-media">
      <h5 class="contact__content-contact__social-media__subtitle">
        Mis redes sociales
      </h5>
      <p class="contact__content-contact__social-media__paragraph">
        También puedes contactarme por mis redes sociales. 💻
      </p>
      <div class="contact__content-contact__social-media__icons">
        <app-icon
          icon="AIOUTLINEYOUTUBE"
          color="#171208"
          class="w-6 h-6"
        ></app-icon>
        <app-icon icon="BSINSTAGRAM" color="#171208" class="w-6 h-6"></app-icon>
        <app-icon
          icon="AIOUTLINELINKEDIN"
          color="#171208"
          class="w-6 h-6"
        ></app-icon>
        <app-icon icon="FITWITTER" color="#171208" class="w-6 h-6"></app-icon>
      </div>
    </div>
  </div>
</section>
