<section class="header-admin" *ngIf="user">
  <div class="header-admin__rute">
    <h3 class="header-admin__rute__title">Dashboard</h3>
    <div class="rute-box">
      <ng-container *ngFor="let rute of path; let i = index">
        <p class="rute-box__section">
          {{ rute.replace("-", " ") }}
        </p>
        <p class="rute-box__section" *ngIf="i !== path.length - 1">/</p>
      </ng-container>
    </div>
  </div>
  <div class="header-admin__profile">
    <app-image
      [url]="user.image.imageUrl"
      alt="Photo of user's profile"
      [width]="46"
      [height]="46"
      [rounded]="true"
    ></app-image>
    <div class="header-admin__profile__dates">
      <p class="header-admin__profile__dates__name">{{ user.username }}</p>
      <p class="header-admin__profile__dates__job">{{ user.job }}</p>
    </div>
  </div>
</section>
