<nav
  class="navigation-admin"
  [class.navigation-admin--active]="open"
  [class.navigation-admin--deactive]="!open"
>
  <ng-container
    *ngFor="let section of mockNavigation; let sectionIndex = index"
  >
    <p class="navigation-admin__section">{{ section.section }}</p>
    <ul class="navigation-admin__list">
      <li
        class="navigation-admin__list__item"
        *ngFor="let path of section.paths; let pathIndex = index"
      >
        <div
          class="navigation-admin__list__item__section px-6"
          [class.cursor-pointer]="path.name === 'Log Out'"
          (click)="path.name === 'Log Out' ? logOut() : null"
        >
          <a
            routerLinkActive="pl-2"
            [routerLinkActiveOptions]="{ exact: true }"
            [routerLink]="path.path"
            [class.pointer-events-none]="path.path === 'func'"
            class="navigation-admin__list__item__section__header"
          >
            <app-icon
              [icon]="path.icon"
              class="w-6 h-6 text-oscure-800"
            ></app-icon>
            <p class="navigation-admin__list__item__section__header__name">
              {{ path.name }}
            </p>
          </a>
          <div
            [class.hidden]="path.subSections.length === 0"
            (click)="toggleMenu(pathIndex, sectionIndex)"
            [class.-rotate-90]="path.subsectionsActive"
          >
            <app-icon
              icon="IOIOSARROWDOWN"
              class="w-4 h-6 text-oscure-800 cursor-pointer"
            ></app-icon>
          </div>
        </div>
        <div
          class="flex navigation-admin__list__item__subItems"
          *ngIf="path.subSections.length > 0 && path.subsectionsActive"
        >
          <a
            [routerLink]="subPath.path"
            class="text-oscure-800"
            routerLinkActive="scale-105"
            *ngFor="let subPath of path.subSections"
          >
            {{ subPath.name }}
          </a>
        </div>
      </li>
    </ul>
  </ng-container>
</nav>
