<footer class="footer">
  <nav>
    <ul class="footer-nav">
      <li class="header-navigation-nav-list__item" routerLinkActive="scale-125">
        <a routerLink="/about" class="first text-medium-normal text-oscure-800"
          >Sobre Wilmion</a
        >
      </li>
      <li class="header-navigation-nav-list__item" routerLinkActive="scale-125">
        <a routerLink="/portfolio" class="text-medium-normal text-oscure-800"
          >Portafolio</a
        >
      </li>
      <li class="header-navigation-nav-list__item" routerLinkActive="scale-125">
        <a routerLink="/contact-me" class="text-medium-normal text-oscure-800"
          >Contáctame</a
        >
      </li>
      <li class="header-navigation-nav-list__item" routerLinkActive="scale-125">
        <a routerLink="/blog" class="text-medium-normal text-oscure-800"
          >Blog</a
        >
      </li>
    </ul>
  </nav>
  <p class="w-full text-center text-bold-normal">
    Aprende para no envejecer 💛
  </p>
  <div class="footer__line"></div>
  <div class="footer__footer">
    <p class="text-medium-normal text-oscure-800">@copirigth Wilmion</p>
    <div class="footer__footer__social-media">
      <a
        *ngFor="let socialMedia of socialMedia$ | async"
        [href]="socialMedia.redirectUrl"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon
          icon="AIOUTLINEYOUTUBE"
          [insertedSvg]="socialMedia.icon"
          color="#171208"
          class="w-6 h-6 transition duration-500 ease-in-out hover:scale-125"
        ></app-icon>
      </a>
    </div>
  </div>
</footer>
