<footer class="footer">
  <nav>
    <ul class="footer-nav">
      <a href="/about" class="first text-medium-normal text-oscure-800"
        ><li>Sobre Wilmion</li></a
      >
      <a href="/portfolio" class="text-medium-normal text-oscure-800"
        ><li>Portafolio</li></a
      >
      <a href="/contact-me" class="text-medium-normal text-oscure-800"
        ><li>Contáctame</li></a
      >
      <a href="/blog" class="text-medium-normal text-oscure-800"
        ><li>Blog</li></a
      >
    </ul>
  </nav>
  <p class="w-full text-center text-bold-normal">
    Aprende para no envejecer 💛
  </p>
  <div class="footer__line"></div>
  <div class="footer__footer">
    <p class="text-medium-normal text-oscure-800">@copirigth Wilmion</p>
    <div class="footer__footer__social-media">
      <app-ai-outline-youtube></app-ai-outline-youtube>
      <app-bs-instagram></app-bs-instagram>
      <app-ai-outline-linkedin></app-ai-outline-linkedin>
      <app-fi-twitter></app-fi-twitter>
    </div>
  </div>
</footer>
