<footer class="footer">
  <nav>
    <ul class="footer-nav">
      <a
        routerLink="/about"
        routerLinkActive="scale-125"
        class="first text-medium-normal text-oscure-800"
        ><li>Sobre Wilmion</li></a
      >
      <a
        routerLink="/portfolio"
        routerLinkActive="scale-125"
        class="text-medium-normal text-oscure-800"
        ><li>Portafolio</li></a
      >
      <a
        routerLink="/contact-me"
        routerLinkActive="scale-125"
        class="text-medium-normal text-oscure-800"
        ><li>Contáctame</li></a
      >
      <a
        routerLink="/blog"
        routerLinkActive="scale-125"
        class="text-medium-normal text-oscure-800"
        ><li>Blog</li></a
      >
    </ul>
  </nav>
  <p class="w-full text-center text-bold-normal">
    Aprende para no envejecer 💛
  </p>
  <div class="footer__line"></div>
  <div class="footer__footer">
    <p class="text-medium-normal text-oscure-800">@copirigth Wilmion</p>
    <div class="footer__footer__social-media">
      <a
        [href]="getUrlOfSocialMedia('yt')"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon
          icon="AIOUTLINEYOUTUBE"
          color="#171208"
          class="w-6 h-6 transition duration-500 ease-in-out hover:scale-125"
        ></app-icon>
      </a>
      <a
        [href]="getUrlOfSocialMedia('ig')"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon
          icon="BSINSTAGRAM"
          color="#171208"
          class="w-6 h-6 transition duration-500 ease-in-out hover:scale-125"
        ></app-icon>
      </a>
      <a
        [href]="getUrlOfSocialMedia('lNk')"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon
          icon="AIOUTLINELINKEDIN"
          color="#171208"
          class="w-6 h-6 transition duration-500 ease-in-out hover:scale-125"
        ></app-icon>
      </a>
      <a
        [href]="getUrlOfSocialMedia('twtr')"
        target="_blank"
        rel="noopener noreferrer"
      >
        <app-icon
          icon="FITWITTER"
          color="#171208"
          class="w-6 h-6 transition duration-500 ease-in-out hover:scale-125"
        ></app-icon>
      </a>
    </div>
  </div>
</footer>
