<section class="admin-box change-password-box">
  <div class="change-password-box__header">
    <div
      class="change-password-box__header__icon"
      [class.invisible]="step > 2 || step === 1"
      (click)="step = 1"
    >
      <app-icon
        icon="BSARROWLEFT"
        class="w-6 h-6 transition-all cursor-pointer hover:scale-125 text-oscure-800"
      ></app-icon>
    </div>

    <h2 class="change-password-box__header__title">Change Password</h2>
    <p class="change-password-box__header__steps" [class.invisible]="step > 2">
      Step {{ step }} of 2
    </p>
  </div>
  <div class="change-password-box__content">
    <app-first-step-change-password
      (onSubmit)="onRecievedData($event.oldPassword, $event.newPassword)"
      *ngIf="step === 1 && !loading"
    ></app-first-step-change-password>
    <app-verify-step-change-password
      *ngIf="step === 1 && loading"
    ></app-verify-step-change-password>
    <app-second-step-change-password
      *ngIf="step === 2"
      (onSubmit)="onRecievedData(payload.oldPassword, $event)"
    ></app-second-step-change-password>
    <app-success-step-change-password
      *ngIf="step === 3"
    ></app-success-step-change-password>
  </div>
  <p class="change-password-box__error" *ngIf="error !== ''">{{ error }}</p>
</section>

<app-loading [loading]="loading && step > 1"></app-loading>
