<section class="admin-box change-password-box">
  <div class="change-password-box__header">
    <div class="change-password-box__header__icon">
      <app-icon
        icon="BSARROWLEFT"
        class="w-6 h-6 transition-all cursor-pointer hover:scale-125 text-oscure-800"
      ></app-icon>
    </div>

    <h2 class="change-password-box__header__title">Change Password</h2>
    <p class="change-password-box__header__steps">Step 1 of 2</p>
  </div>
  <div class="change-password-box__content">
    <app-first-step-change-password></app-first-step-change-password>
  </div>
</section>
