<div
  *ngIf="skill"
  class="skill"
  [ngStyle]="{ 'background-color': '#' + skill.backgroundColor }"
>
  <app-icon
    [color]="'#' + skill.iconColor"
    [insertedSvg]="skill.icon"
    *ngIf="skill.icon"
    class="w-12 h-12"
  ></app-icon>
  <app-image
    *ngIf="skill.image"
    [url]="skill.image.imageUrl"
    [alt]="'Image of skill of ' + skill.name"
    class="w-12 h-12"
  >
  </app-image>
  <p class="skill__text" [ngStyle]="{ color: '#' + skill.iconColor }">
    {{ skill.name }}
  </p>
</div>
