<form class="form-box">
  <div class="form-box__input">
    <label for="subject" class="form-box__input__label">Asunto</label>
    <input
      type="text"
      name="subject"
      id="subject"
      class="form-box__input__input"
      placeholder="Asunto"
    />
  </div>
  <div class="form-box__text-area">
    <label for="message" class="form-box__text-area__label">Mensaje</label>
    <textarea
      name="message"
      id="message"
      cols="30"
      rows="10"
      class="form-box__text-area__area"
      placeholder="Mensaje......."
    ></textarea>
  </div>
  <div class="form-box__button">
    <app-button type="button-primary" content="Enviar"></app-button>
  </div>
</form>
