<form class="form-box" [formGroup]="form" *ngIf="form" (ngSubmit)="onSubmit()">
  <app-input
    label="Asunto"
    placeholder="Asunto"
    id="subject"
    type="text"
    [formGroup]="form"
  ></app-input>
  <app-text-area
    label="Mensaje"
    placeholder="Mensaje..."
    id="message"
    [formGroup]="form"
  ></app-text-area>
  <div class="form-box__button">
    <app-button
      type="button-primary"
      content="Enviar"
      typeButton="submit"
      [disable]="form.invalid"
    ></app-button>
  </div>
</form>
