<form (submit)="submit()" class="first-step-change-password" *ngIf="form">
  <p class="first-step-change-password__password">
    Well! Let's start by entering an old or current password
  </p>
  <app-input
    [formGroup]="form"
    idInput="oldPassword"
    class="w-full"
    type="password"
    [withIcon]="true"
    icon="BSFILLEYEFILL"
    label="Old password"
    placeholder="Your password"
  ></app-input>
  <div class="first-step-change-password__buttons">
    <app-button
      typeButton="submit"
      content="Continue"
      type="button-primary"
      [disable]="!form.valid"
    ></app-button>
    <a routerLink="/admin/settings">
      <app-button
        typeButton="button"
        color="#FC0000"
        colorText="#FC0000"
        [customColorOutline]="true"
        content="Cancel"
      ></app-button>
    </a>
  </div>
</form>
