<section class="stats-page">
  <section class="admin-box stats-page__control">
    <h2 class="stats-page__control__title">STATS</h2>
    <div class="stats-page__control__actions">
      <app-date
        [formGroup]="form"
        [ids]="['from', 'to']"
        label="Date"
        class="w-full"
      ></app-date>
      <app-button
        content="Filter now"
        type="button-primary"
        typeButton="submit"
        (clickButton)="setGraphic()"
      ></app-button>
    </div>
  </section>
  <section class="stats-page__graphics">
    <div
      class="admin-box stats-page__graphics__box"
      *ngFor="let graphic of $graphics | async"
    >
      <h3 class="stats-page__graphics__box__title">
        {{ intercambiateVerbs(graphic.title) }}
      </h3>
      <app-stat [Obj]="graphic.raw" [title]="graphic.title"></app-stat>
    </div>
  </section>
</section>

<app-loading [loading]="loading"></app-loading>
