@import url("../../../../../../core/styles/texts.scss");

.verify-step-change-password {
  @apply flex;
  @apply flex-col;
  @apply w-full;
  @apply space-y-6;
  @apply justify-center;
  @apply items-center;
  &__icon {
    animation: rotate 5s ease-in-out infinite alternate;
  }
  &__text {
    @apply text-oscure-800;
    @apply text-regular-normal;
    @apply text-center;
    @apply w-full;
  }
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  25% {
    transform: rotateZ(360deg);
  }

  50% {
    transform: rotateZ(360deg);
  }

  75% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(0deg);
  }
}
